# set

In [1]:
# it is unorderd , immutable and no duplicates are allowed
#we can perform add and remove

 set creation

In [2]:
a={1,2,3}
print(a)

{1, 2, 3}

In [3]:
a=set((1,3,'hii'))
print(a)

{1, 3, 'hii'}

In [4]:
print(a)

{1, 3, 'hii'}

In [5]:
# adding an element
a.add(5)
print(a)

{1, 3, 'hii', 5}

In [6]:
#remove element 
a.discard(5)
print(a)

{1, 3, 'hii'}

In [7]:
#update --> used to add other type in existing set
a.update([6,7,8])
print(a)

{1, 3, 6, 7, 8, 'hii'}

In [11]:
#any --> it return true if all items are true or set is empty
len(a)

6

In [15]:
# enumerate --> adds counter to elements
a=['hii','gii']
b=list(enumerate(a))
print(b)

[(0, 'hii'), (1, 'gii')]

#set operators

In [22]:
#union --> combine two sets with no duplicates :: union()  and |
a={1,2,3,4}
b={2,5,6,7}
print(a|b)
print(a.union(b))
print(a)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}

In [19]:
#intersection --> it returns the common elements only
print(a&b)
print(a.intersection(b))

{2}
{2}

In [20]:
#difference 
print(a-b)
print(a.difference(b))

{1, 3, 4}
{1, 3, 4}

In [25]:
#symmetric difference --> without common elements
a={1,2,3}
b={1,2,4,5}
print(a.symmetric_difference(b))
print(a^b)

{3, 4, 5}
{3, 4, 5}

In [28]:
#issubset() a.subset(b) ---> all elements of a in b
a={1,2,3,4}
b={1,2,3}
print(a.issubset(b))

False

In [29]:
print(b.issubset(a))

True

In [30]:
print(a.issuperset(b))

True

In [31]:
print(b.issubset(a))

True

In [32]:
#isdisjoint() --> if 2 sets intersection is null
a={1,2,3}
b={1,4,6}
print(a.isdisjoint(b))

False

In [33]:
a={1,2,3}
b={9,4,6}
print(a.isdisjoint(b))

True

In [35]:
#difference_update --> return none
a={1,2,3}
b={3,4,5}
print(a.difference_update(b))
print(a)

None
{1, 2}

In [1]:
#pop --> remove an element
a={1,2,34}
a.pop()
print(a)

{2, 34}